@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Lobster&family=Pacifico&family=Poppins:wght@200&family=Raleway&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  .section{
    @apply py-16 px-8 mx-auto;
  }
  .container{
    @apply px-8 py-12
  }
}

.underline {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 1px;
  background: #3d3d3d;
}
